body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
}

.header, ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer {
    height: 72px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.first{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.fcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-child {
    flex: 1;
}

.fhead, .fbody {
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.fhead {
    font-weight: bold;
    font-size: 36px;
}

.fbody {
    margin-bottom: 10px;
}

.sign1 {
    background-color: #3882F6;
    border-radius: 6px;
    color: white;
    padding: 2px 12px;
}

.second {
    display: flex;
    flex-direction: column;
    height: 25vh;
}

.shead {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin-top: 0;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 0 650px;
    justify-content: center;
    justify-content: space-between;
}

.cimg {
    border: 5px solid #3882F6;
    border-radius: 6px;
    height: 40%
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text {
    width: 0;
    min-width: 100%;
    text-align: center;
    font-size: 10px;
}

.third {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E5E7EB;
    height: 25vh;
}

.qcont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24%;
}

.quote, .author {
    font-size: 30px;
}

.quote {
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.author {
    margin-left: 65%;
}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 25vh;
}

.fourth .container {
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 50%;
    background-color: #3882F6;
    border-radius: 6px;
}

.fcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.container .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fheader {
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.ftext {
    font-size: 16px;
    color: white;
    width: 80%;
}

.sign {
    background-color: #3882F6;
    border-radius: 6px;
    border: 1px solid white;
    color: white;
    height: 40px;
    white-space: nowrap;
}